/* styles.css */
body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form label {
  margin-top: 1em;
}

form input,
form select,
form button {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
}

#reservations {
  max-width: 600px;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

#reservationList {
  list-style-type: none;
  padding: 0;
}

#reservationList li {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
